@import url('https://fonts.googleapis.com/css2?family=UoqMunThenKhung&display=swap');

p {
  font-family: "UoqMunThenKhung", serif;
}

h1 {
  color: #6fbb9a;
  text-align: center;
  font-size: 250%;
}

h2 {
  color: #6fbb9a;
  border: #94c8b1 1px dotted;
  border-left: #d0e35b 10px solid;
  padding: 5px 20px;
  margin-bottom: 0;
}

body {
  background-position: center;
  background-color: #fbf9cc;
  background-image: url(網址 或 檔案名稱.png .jpg .gif 背景圖片);
  background-size: 600px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#wrap {
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: #f6bb9e 1px solid;
  background-color: #fff;
  overflow: hidden; /* 这个是关键，防止浮动元素影响布局 */
}

.photo {
  float: left;
  margin-right: 30px;
}

.section {
  float: left;
  width: 100px;
}

#wrap::after {
  content: "";
  display: block;
  clear: both;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}